.acciones a{
	margin-right: 1em;
}

.highlight {
padding: 9px 14px;
margin-bottom: 14px;
background-color: #f7f7f9;
border: 1px solid #e1e1e8;
border-radius: 4px;
}

.text-justify{
	text-align:justify;text-justify:inter-word;
}
